/modules/ViT-B-32.pt
/output/
/eval_output/
__pycache__/
/output32/
/output_no_shuffle/
/output_shuffle/
/output_origin/
/output_globalk/
/output_debug/
/output_one/
/output_shuffle_lstm/
/output_expand_lstm/
/output_expand_seqtran/
/output_xpool/
/output_topk_event/
/output_topk_event_global/
/output_topk_global/
/output_topk/
/output_topk_event_global64/
/output_topk_event64/
/output_topk_global64/
/output_topk64/
/output_xpool_visual/
/output_xpool_eval/
/output_base/
/eval/
/output_topk_event_globalattn/